

:root{
    --main-title-color: #2E2F42;
    --main-title-font-weight: 700;
    --text-color: #434455;
    --text-font-weight: 400;
    --accent-color: #4D5AE5;
    --hero-color: #FFFFFF;
    --hero-btn-color: #404BBF;
    --main-background-color: #F4F4FD;
    --footer-text-color: #E7E9FC;
}

body{
font-family: 'Roboto', sans-serif;
color:var(--text-color)
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
}

img{
    display: block;
    min-width: 100%;
    height: auto;
    }


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


.list{
    list-style: none;
    padding-left: 0;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/*----------------------------HEADER---------------------------------*/
.header{
    border-bottom: 1px solid var(--footer-text-color);
}
.container.header-container{
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    padding: 24px, 0;

    margin-right: 76px;
}

.header-logo-web {
    color:var(--accent-color);    
}



.header-navigation {
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-item {}


.header-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-title-color);

    padding: 24px 0 24px 0;
}

.header-link.current {
    color:var(--hero-btn-color);
}

.header-link:hover,
.header-link:focus {
    color:var(--accent-color);
}
.header-adresses{
    margin-left: auto;
}

.header-adresses-list {
    
    display: flex;
    padding: 0%;
    gap: 40px;
}


.header-email {
    
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text-color);
}

.header-email:hover,
.header-email:focus {
    color: var(--accent-color);
}

.header-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--text-color);
}

.header-tel:hover,
.header-tel:focus {
    color:var(--accent-color);
}

/*--------------------------------HERO------------------------------------*/
.container.hero-container{

}
.hero {
    background-color: var(--main-title-color); 
    padding-top: 188px; 
    padding-bottom: 188px;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: var(--hero-color);
    
    text-align: center;

}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--hero-color); 
    border: var(--hero-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.hero-btn:hover, .hero-btn:focus{
    background-color: var(--hero-btn-color);

}

/*--------------------------------FEATURES------------------------------*/
.features {
    padding-top: 120px;
    padding-bottom: 120px ;
}

.container.features-container{
    display: flex;
    

}

.features-list {
    display: flex;
    gap: 24px;
}

.list {
    
}

.features-item {
    flex-basis: ((100%-3*24px)4);
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

    color: var(--main-title-color);
}

.features-text {
}
/*----------------------------------What are we doing--------------------------------------*/
.desc {
    padding-bottom: 120px;
}

.container.desc-container{}

.desc-subtitle {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;    
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--main-title-color);
}

.desc-list {
    display: flex;
    gap: 24px;
}

.list {}

.desc-item {
    flex-basis: calc((100%-2*24px)/3);
}

/*------------------------------------------TEAM-------------------------------------------*/
.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--main-background-color);
}

.container.team-section{}

.section-team-subtitle {
    margin-bottom: 72px;
    font-weight: var(--main-title-font-weight);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;    
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color:var(--main-title-color);}

.section-team-list {
    display: flex;
    gap: 24px;
}

.list {}

.section-team-item {
    flex-basis: calc((100%-3*24px)/4);
    background-color: var(--hero-color);
}

.team-member-desc{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;    
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--main-title-color);}

.section-team-text {
    text-align: center;
}
/*--------------------------------------------------FOOTER--------------------------------------*/
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:var(--main-title-color);
}

.container.footer-container{}


.footer-logo {
    display: block;
    margin-bottom: 16px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-background-color);
    }

.link {}

.footer-logo-web {
    color: var(--accent-color);
}



.footer-text {
    max-width: 264px;
    color: var(--footer-text-color);
    
}
/*--------------------------------------------------PORTFOLIO-------------------------------------------------------------*/
.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.container.portfolio-container{}

.portfolio-title {}

.portfolio-nav-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-nav-item {}

.portfolio-nav-btn {
    padding: 12px 24px;
    background-color: var(--main-background-color);
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    color: var(--accent-color);
}

.portfolio-nav-btn:hover, .portfolio-nav-btn:focus{
    background-color: var(--accent-color);
    color: var(--hero-color);
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((1128px-2*24px)/3);
}

.portfolio-card-desc{
    padding-top: 32px;
    padding-bottom: 32px; 
    padding-left: 16px;
    border-right: 1px solid var(--footer-text-color);
    border-bottom: 1px solid var(--footer-text-color);
    border-left: 1px solid var(--footer-text-color);
}

.portfolio-subtitle {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--main-title-color);
}

.portfolio-text {
}